.section_pos {
  margin: 0 50px 180px 50px;
}
.ls_0 {
  letter-spacing: 0;
}
.ls_big {
  letter-spacing: 60px;
}
.justify-self_center {
  justify-self: center;
}
.justify-self_end {
  justify-self: end;
}

.info-text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.section-title {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.link_active {
  text-decoration: none;
  cursor: default;
}

.menu {
  display: flex;
  align-items: center;
}

.logo-wrap {
  width: 150px;
  height: 105px;
  transform: translateX(-50%);
}
.logo {
  height: 100%;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 240px;
  line-height: 1.2;
}
.address {
  line-height: 24.3px;
}

.main {
  gap: 180px;
}

/* header */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px 50px;
}
.menu-list-header {
  display: flex;
  gap: 32px;
  list-style: circle;
}
.menu-list-header li:first-child {
  list-style-type: none;
}
/* header end */

/* jambotron */
.jambotron {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 180px;
  background: center / cover no-repeat url(../images/cover.jpg);
}
.jambotron:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.jambotron-title {
  z-index: 1;
  display: grid;
  gap: 14px 0;
  width: 100%;
  padding: 165px 50px 140px 50px;
}
.jambotron-title-line {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.jambotron-title-line:last-child {
  line-height: 0.95;
}
.jambotron-action {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 0 50px 50px 0;
}
.jambotron-action-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px; /* 127.273% */
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17px;
}
.jambotron-action-button {
  border: 1px solid #fff;
  padding: 13px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}
/* jambotron end */

/* lots */
.lots-title {
  margin-left: 40px;
}
.lots-cases {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 20px;
  margin: 26px 0;
  list-style: none;
}
.lots-item {
  position: relative;
}
.lot_1 {
  background: center / cover url(../images/card-lot-01.jpg);
}
.lot_2 {
  background: center / cover url(../images/card-lot-02.jpg);
}
.lot_3 {
  background: center / cover url(../images/card-lot-03.jpg);
}
.lots-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.lots-link {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  padding: 50px 40px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-style: normal;
  text-decoration: none;
}
.lots-item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}
.lots-item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%; /* 24px */
}
.lots-more {
  margin-left: 40px;
  font-size: 20px;
}
/* lots end */

/* about */
.about {
  display: grid;
  gap: 0 20px;
  grid-template:
    "logo title" 240px
    ". text" 1fr / 430px 1fr;
}
.about-logo-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  background: center no-repeat url(../images/ellipse.svg);
}
.logo-about {
  height: 115px;
}
.about-title {
  margin: 100px 5px;
}
.about-content {
  display: grid;
  grid-area: text;
  gap: 15px 0;
}
.about-text {
  margin: 5px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}
/* about end */

/* footer */
.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 50px 90px 50px;
}
.menu-list-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.socials {
  display: flex;
  justify-content: space-between;
  width: 240px;
}
.socials-link-logo {
  height: 50px;
}
/* footer end */
